.footer {
  background-color: #f5f5dc; /* Fondo beige claro */
  padding: 40px 0; /* Más padding para mayor espacio */
  text-align: center;
  border-top: 1px solid #e0e0e0; /* Línea superior sutil */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center; /* Centra las columnas horizontalmente */
  align-items: center; /* Centra las columnas verticalmente */
  gap: 40px; /* Espacio entre las columnas */
}

.column {
  margin-bottom: 20px;
}

/* Estilos para el logo */
.logoContainer {
  text-align: center;
}

.logo {
  max-width: 150px; /* Tamaño del logo */
  height: auto;
}

.columnTitle {
  font-size: 24px; /* Tamaño de fuente más grande */
  margin-bottom: 15px;
  color: #333; /* Color de texto oscuro */
  font-weight: 600; /* Texto en negrita */
}

.description {
  font-size: 18px; /* Tamaño de fuente más grande */
  color: #555; /* Color de texto gris oscuro */
}

.description a {
  color: #333; /* Color azul para el enlace */
  text-decoration: none;
  font-weight: 500; /* Texto seminegrita */
}


.copyright {
  font-size: 14px; /* Tamaño de fuente más grande */
  color: #777; /* Color de texto gris */
  margin-top: 30px; /* Más margen superior */
}